name: terraform
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      AQUA_DISABLE_SLSA: "true"
    outputs:
      targets: ${{ steps.list-targets.outputs.targets }}
    steps:
      - uses: actions/checkout@v4

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - uses: suzuki-shunsuke/tfaction/list-targets@v1.20.1
        id: list-targets
