name: terraform
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    outputs:
      targets: ${{ steps.list-targets.outputs.targets }}
    steps:
      - uses: actions/checkout@v4

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - uses: suzuki-shunsuke/tfaction/list-targets@v1.20.1
        id: list-targets

  plan:
    needs: setup
    if: github.event_name == 'pull_request' && needs.setup.outputs.targets != '[]'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.setup.outputs.targets) }}
    env:
      TFACTION_TARGET: ${{ matrix.target.target }}
      TFACTION_JOB_TYPE: terraform
      TFACTION_IS_APPLY: "false"
      AQUA_DISABLE_SLSA: "true"
    steps:
      - uses: actions/checkout@v4

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - uses: suzuki-shunsuke/tfaction/setup@v1.20.1
        id: setup

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ steps.setup.outputs.gcp_workload_identity_provider }}
          service_account: ${{ steps.setup.outputs.gcp_service_account }}

      - uses: suzuki-shunsuke/tfaction/test@v1.20.1

      - uses: suzuki-shunsuke/tfaction/terraform-plan@v1.20.1

  apply:
    needs: setup
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.setup.outputs.targets != '[]'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJSON(needs.setup.outputs.targets) }}
    env:
      TFACTION_TARGET: ${{ matrix.target.target }}
      TFACTION_JOB_TYPE: terraform
      TFACTION_IS_APPLY: "true"
      AQUA_DISABLE_SLSA: "true"
    steps:
      - uses: actions/checkout@v4

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - uses: suzuki-shunsuke/tfaction/setup@v1.20.1
        id: setup

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ steps.setup.outputs.gcp_workload_identity_provider }}
          service_account: ${{ steps.setup.outputs.gcp_service_account }}

      - uses: suzuki-shunsuke/tfaction/test@v1.20.1

      - uses: suzuki-shunsuke/tfaction/terraform-apply@v1.20.1
