name: terraform
on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  plan:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      TFACTION_TARGET: terraform/workload/
      AQUA_DISABLE_SLSA: "true"
    steps:
      - uses: actions/checkout@v4

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.36.1

      - uses: suzuki-shunsuke/tfaction/setup@v1.20.1
        id: setup

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ steps.setup.outputs.gcp_workload_identity_provider }}
          service_account: ${{ steps.setup.outputs.gcp_service_account }}

      - uses: suzuki-shunsuke/tfaction/test@v1.20.1

      - uses: suzuki-shunsuke/tfaction/terraform-plan@v1.20.1
